<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	
	
	<appender name="warn-log" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />  
	   <param name="encoding" value="UTF-8" />	 
	   <param name="MaxFileSize" value="10MB"/> 
	   <param name="MaxBackupIndex" value="5"/>	
	   <param name="file" value="${catalina.home}/logs/bridge-warn.log" />	   
	  
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern"
			value="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
	   </layout>
	   <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="warn" />
            <param name="LevelMax" value="warn" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
	</appender>
	
	<appender name="error-log" class="org.apache.log4j.RollingFileAppender">
	   		
	   <param name="file" value="${catalina.home}/logs/bridge-error.log" />
	   <param name="MaxFileSize" value="10MB"/> 
	   <param name="MaxBackupIndex" value="5"/>		
	     	   	  
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern"
			value="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
	   </layout>
	   <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error" />
            <param name="LevelMax" value="fatal" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
	</appender>
	 
	<appender name="info-log" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />  
	   <param name="encoding" value="UTF-8" />	 
	   <param name="MaxFileSize" value="10MB"/> 
	   <param name="MaxBackupIndex" value="5"/>	
	   <param name="file" value="${catalina.home}/logs/bridge-info.log" />	   
	  
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern"
			value="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
	   </layout>
	   <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info" />
            <param name="LevelMax" value="info" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
	</appender>
	

	<logger name="com.simple.server">
		<appender-ref ref="info-log" />
		<appender-ref ref="warn-log" />
		<appender-ref ref="error-log" />		
	</logger>

</log4j:configuration>